@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
   background-color: #fdf6e3;
   color: #444444;
}

.image-profile {
   margin-top: 10px; 
}

.image-profile img {
   max-width: 20%;
   border-radius: 100%
}

.info .info-name {
   text-align: center;    
}

.info .info-jobtitle {
   text-align: center;
}

[data-theme="dark"] {
   background-color: #002b36 !important;
   color: #b58900
}

.custom-control-label {
   margin-left: 5px;
}

.form-check-input:checked {
   background-color: #002b36;
   border-color: #b58900;
}

.form-check-input:focus {
   box-shadow: none;
}

.social-network {
   color: #b58900;
   text-decoration: none;
}

.social-network:hover {
   color: #b58900;
   text-decoration: none;
}
